@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito-bold-webfont.eot');
    src: url('../fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bold-webfont.woff') format('woff'),
         url('../fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('../fonts/nunito-bold-webfont.svg#nunitobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cabinsketchbold';
    src: url('../fonts/cabinsketch-bold-webfont.eot');
    src: url('../fonts/cabinsketch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabinsketch-bold-webfont.woff2') format('woff2'),
         url('../fonts/cabinsketch-bold-webfont.woff') format('woff'),
         url('../fonts/cabinsketch-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabinsketch-bold-webfont.svg#cabinsketchbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinsketchregular';
    src: url('../fonts/cabinsketch-regular-webfont.eot');
    src: url('../fonts/cabinsketch-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabinsketch-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabinsketch-regular-webfont.woff') format('woff'),
         url('../fonts/cabinsketch-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabinsketch-regular-webfont.svg#cabinsketchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/nunito-light-webfont.eot');
    src: url('../fonts/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito-light-webfont.woff') format('woff'),
         url('../fonts/nunito-light-webfont.ttf') format('truetype'),
         url('../fonts/nunito-light-webfont.svg#nunitolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito-regular-webfont.eot');
    src: url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff'),
         url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
         url('../fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
