/*###################
# Css - Error - Validation
###################*/
// .formError
// 	z-index 100
// 	.formErrorContent
// 		font-family f-lato-regular-italic
// 		background c-blue-dark
// 		color c-white
// 		border 2px solid c-blue-dark
// 		//box-shadow none
// 		box-shadow 0 0 6px c-font
// 	.formErrorArrow
// 		div
// 			background c-blue-dark
// 			border-left 2px solid c-blue-dark
// 			border-right 2px solid c-blue-dark
// 			//box-shadow none
// 			box-shadow 0 2px 3px c-font
// 		.line3
// 			border-left 2px solid c-blue-dark
// 			border-right 2px solid c-blue-dark
// 			border-bottom 0px solid c-blue-dark
// 		.line2,
// 		.line1
// 			background c-blue-dark
			
/*########################
# Inline-table
########################*/
.g-i-table
	height 100%
	display inline-table
	vertical-align top
	box-sizing border-box
	.g-it-cell-middle
		display table-cell
		vertical-align middle
		box-sizing border-box

/*########################
# Cell Middle
########################*/
.g-table
	height 100%
	display table
	.g-t-cell-middle
		display table-cell
		vertical-align middle
/*########################
# Grilla
########################*/
.g-grid
	font-size 0
	text-align center
	margin 0 auto
	box-sizing border-box
	.g-grid-item
		display inline-block
		font-size 14px
		vertical-align top
		box-sizing border-box
/*########################
# Migas
########################*/
.g-migas
	position relative
	.migas
		height 43px
		line-height 43px
		text-align left
		a
			display inline-block
			position relative
			padding-left 8px
			font-size 12px
			color c-green-title-banner
			&:before
				content "/"
				position absolute
				top 0
				left 0
			&:hover, &.active
				text-decoration underline
		a:first-child
			padding-left 0
			&:before
				display none
	.button-back
		position absolute
		top 0
		right 0
/*########################
# Banner
########################*/
.g-banner
	height 239px
	background url('../img/products-detail-shadow.png') repeat-x bottom left
	padding-bottom 20px
	.cnt-banner
		position relative
		.cnt-title
			width 45%
			padding-top 100px
			position relative
			z-index 5
			.title
				font-family f-nunito-regular
				font-size 44px
				color c-green-title-banner
			.subtitle
				font-size 19px
				color c-green-subtitle-banner
		.cnt-image
			display inline-block
			position absolute
			top 0
			right 0
			img
				display block
				width 100%
				height auto

@media screen and (max-width: 960px)
	.g-banner
		.cnt-banner
			.cnt-title
				width 80%
				margin 0 auto
				padding-top 70px
				text-align center
			.cnt-image
				display none