body
	>iframe, >img, .visadd_coverTip_container, #__modal_container, .visadd_strip_frame
		display none !important
// .page-general
// 	.wancho
// 		text-align center

@keyframes anim-boton
	60%
		transform scale3d(0.8, 0.8, 1)

	85%
		transform scale3d(1.1, 1.1, 1)

	100%
		transform scale3d(1, 1, 1)

@keyframes anim-boton-before
	to
		opacity 0
		transform scale3d(1, 1, 1)
// @keyframes anim-texto
// 	60%
// 		transform scale3d(1, 1, 1)

// 	85%
// 		transform scale3d(1, 1.5, 1)

// 	100%
// 		transform scale3d(1, 1, 1)


.-item-g
	width 210px
	height 290px
	position relative
	text-align center
	display inline-block
	box-sizing border-box
	padding-top 15px
	&:before, &:after
		content ""
		display block
		position absolute
		background-color #ececec

	&:before
		left 0
		bottom 0
		width 5px
		height 0
		transition all .4s cubic-bezier(.08,1.65,.6,.32)
	&:after
		left 0
		top 0
		width 0
		height 5px
		transition all .4s cubic-bezier(.08,1.65,.6,.32) .2s
	.-linea-izq-abajo
		&:before, &:after
			content ""
			display block
			position absolute
			background-color #ececec
		&:before
			right 0
			bottom 0
			width 5px
			height 0
			transition all .4s cubic-bezier(.08,1.65,.6,.32) .2s
		&:after
			right 0
			bottom 0
			width 0
			height 5px
			transition all .4s cubic-bezier(.08,1.65,.6,.32)
	.-cnt-img
		width 147px
		margin auto
		position relative
		span
			height 67px
			width 67px
			text-align center
			display block
			background-color rgba(0, 0, 0, 0.65)
			border-radius 50%
			line-height 65px
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			margin auto
			color #fff
			opacity 0
			transform scale(1.5)
			transition all .4s cubic-bezier(0.74, 0.59, 0.67, 1.64)
			&:before
				display block
				font-size 65px
				transition all .2s cubic-bezier(0.74, 0.59, 0.67, 1.64) .4s
				opacity 0
				margin auto
	.-cnt-title
		display table
		width 100%
		padding 0 25px
		box-sizing border-box
		.-title
			height 60px

			display table-cell
			vertical-align middle
			font-size  13px
			font-family Arial
			strong
				font-size 15px
				color #007639
				display block
.-item-g:hover
	&:before
		height 100%
	&:after
		width 100%
	.-linea-izq-abajo
		&:before
			height 100%
		&:after
			width 100%
	.-cnt-img
		span
			transform scale(1)
			opacity 1
			&:before
				font-size 35px
				opacity 1

// .-button-g
// 	min-width 115px
// 	display inline-block
// 	padding 10px 25px
// 	overflow hidden
// 	position relative
// 	background-color c-orange-button
// 	color #fff
// 	text-align center
// 	font-size 17px
// 	font-weight bold
// 	font-family Arial
// 	border-radius 26px
// 	transition all .3s ease-in-out
// 	i, em
// 		font-style normal
// 		position absolute
// 		left 0
// 		top 0
// 		width 100%
// 		display block
// 		height 50%
// 		overflow hidden
// 		padding-top 10px
// 		box-sizing border-box
// 		transition all .4s cubic-bezier(0.2, 1, 0.3, 1)
// 	span
// 		display block
// 		color #fff
// 		opacity 0
// 		transform scale3d(0.2, 0.2, 1)
// 		transition all .4s cubic-bezier(0.2, 1, 0.3, 1)
// 	em
// 		padding-top 0
// 		line-height 0
// 		bottom 0
// 		top inherit
// .-button-g:hover
// 	background-color  #ffb828
// 	i
// 		opacity 0
// 		transform translate3d(0, -100%, 0)
// 	span
// 		opacity 1
// 		transform scale3d(1, 1, 1)
// 	em
// 		transform translate3d(0, 100%, 0)
// 		opacity 0
.-button-g
	min-width 145px
	display inline-block
	padding 10px 25px
	position relative
	background-color c-orange-button
	color #fff
	text-align center
	font-size 17px
	font-weight bold
	font-family Arial
	border-radius 26px
	border none
	transition background-color 0.3s, color 0.3s
	box-sizing border-box
	&:before
		content ""
		opacity 0.4
		position absolute
		left -15px
		top -20px
		bottom -20px
		right -15px
		border-radius 50px
		background-color c-orange-button
		transform scale3d(0.8, 0.5, 1)
		pointer-events none
	span
		position relative
		z-index 2
		display block
		color #fff
.-button-g:hover
	background-color  #ffb828
	animation anim-boton 0.3s forwards
	transition background-color 0.1s 0.3s, color 0.1s 0.3s
	&:before
		animation anim-boton-before 0.3s 0.3s forwards

.-button-border-g
	background-color transparent
	min-width 115px
	display inline-block
	padding 10px 25px
	position relative
	color #187816
	text-align center
	font-size 17px
	font-weight bold
	font-family Arial
	border-radius 26px
	border 2px solid #187816
	&:before
		content ""
		opacity 0
		position absolute
		left 0
		top 0
		display block
		// left -20px
		// top -20px
		// bottom -20px
		// right -20px
		border-radius 50px
		background-color #187816
		pointer-events none
		transition all 0.25s cubic-bezier(0.74, 0.59, 0.67, 1.64)
		width 101%
		height 101%
		transform scale3d(1.1, 2, 1)
	span
		position relative
		z-index 2
		display block
.-button-border-g:hover
	background-color #187816
	&:before
		opacity .4
		// left -1px
		// top -1px
		// bottom -1px
		// right -1px
		transform scale3d(1, 1, 1)
	span
		color #ffb828

.-button-icon-g
	min-width 145px
	height 40px
	box-sizing border-box
	display inline-block
	padding 10px 25px
	position relative
	color #c2c2c2
	text-align center
	font-size 17px
	font-weight bold
	font-family Arial
	border-radius 25px
	border none
	// border 2px solid #c2c2c2
	overflow hidden
	background-color #c2c2c2
	-webkit-backface-visibility hidden
	z-index 1
	&:before
		content ""
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		display block
		background-color #187816
		z-index -1
		transition all .3s cubic-bezier(0.75, 0, 0.125, 1)
		transform translate3d(0, 100%, 0)
		box-sizing border-box
	&:after
		content ""
		position absolute
		right 2px
		top 2px
		left 2px
		bottom 2px
		background-color #fff
		z-index -1
		border-radius 23px
	em
		transition all .3s cubic-bezier(0.75, 0, 0.125, 1)
		transform translate3d(40px, 2.5em, 0)
		position absolute
		right -12px
		top 2px
	span
		transform translate3d(0, 0, 0)
		transition all .3s cubic-bezier(0.75, 0, 0.125, 1)
		position relative
		z-index 3
		display block
.-button-icon-g:hover
	color #187816
	&:before
		transform translate3d(0, 0, 0)
	em
		transform translate3d(0, 0, 0)
	span
		transform translate3d(-10px, 0, 0)

.-button-flecha-g
	min-width 145px
	display inline-block
	padding 10px 25px
	position relative
	background-color c-orange-button
	color #fff
	text-align center
	font-size 17px
	font-weight bold
	font-family Arial
	border-radius 26px
	border none
	transition background-color 0.3s, color 0.3s
	overflow hidden
	box-sizing border-box

	em
		transition all .3s cubic-bezier(0.75, 0, 0.125, 1)
		transform translate3d(-40px, 2.5em, 0)
		position absolute
		left -20px
		top -2px
		color #fff
		font-size 25px
	span
		transform translate3d(0, 0, 0)
		transition all .3s cubic-bezier(0.75, 0, 0.125, 1)
		position relative
		display block
.-button-flecha-g:hover
	background-color  #ffb828
	transition background-color 0.1s 0.3s, color 0.1s 0.3s
	em
		transform translate3d(0, 0, 0)
	span
		transform translate3d(10px, 0, 0)
		color #fff
