// Colors
c-black = #000
c-white = #fff
c-facebook = #3a5795
c-twitter = #55acee
c-youtube = #cc181e
c-google = #cc181e

c-font = #555555
c-green-dark = #11530f
c-green-menu = #187816
c-orange = #ffb828
/*Home*/
//c-green-title = #619c39
/*Pages*/
c-green-title-banner = #187816
c-green-subtitle-banner = #619c39
c-green-products = #007639
/*Button*/
c-green-button = #187816
c-orange-button = #eb5503


// Fonts
icomoon = 'icomoon'
f-nunito-light = 'nunitolight'
f-nunito-regular = 'nunitoregular'
f-nunito-bold = 'nunitobold'
f-cabin = 'cabinsketchregular'
f-cabin-b = 'cabinsketchbold'
w-bold = 700
w-regular = 400
///////////
.g-title-sec
	font-family f-nunito-regular
	text-align center
	h2
		color c-green-subtitle-banner
		font-size 34px
		font-weight normal
	p
		color c-green-title-banner
		font-size 18px
		line-height 6px
