
// Colors
c-black = #000
c-white = #fff
c-facebook = #3a5795
c-twitter = #55acee
c-youtube = #cc181e
c-google = #cc181e

c-font = #555555
c-green-dark = #11530f
c-green-menu = #187816
c-orange = #ffb828
/*Home*/
//c-green-title = #619c39
/*Pages*/
c-green-title-banner = #187816
c-green-subtitle-banner = #619c39
c-green-products = #007639
/*Button*/
c-green-button = #187816
c-orange-button = #eb5503


// Fonts
icomoon = 'icomoon'
f-nunito-light = 'nunitolight'
f-nunito-regular = 'nunitoregular'
f-nunito-bold = 'nunitobold'

w-bold = 700
w-regular = 400
@keyframes footer-crayola
	0%
		transform rotateZ(0deg)
	46%
		transform rotateZ(0deg)
	48%
		transform rotateZ(-5deg)
	50%
		transform rotateZ(5deg)
	52%
		transform rotateZ(-5deg)
	54%
		transform rotateZ(5deg)
	56%
		transform rotateZ(0deg)
	100%
		transform rotateZ(0deg)
//Para footer siempre abajo
html,
body
	height 100%
	.cnt-wrapper
		min-height 100%
	.wrapper
		overflow auto
		padding-bottom 318px
	.footer
		position relative
		margin-top -318px
		height 318px
		clear both
// Logo
.header
	text-align center
	background c-green-dark
	min-height 60px
	position relative
	z-index 99
	.wancho
		position relative
		top 0
		left 0
		.w-logo
			position absolute
			top -30px
			left 35px
			display inline-block
			z-index 1
			img
				display block
				max-width 100%
				height auto
	.menu-secciones
		background c-green-dark
		padding 10px 0
		.wancho
			position relative
			text-align right
			.cnt-item-menu
				margin-right 20px
				.item-menu-sec
					color c-green-menu
					font-size 14px
					font-family f-nunito-regular
					margin auto 17px
					transition all .3s linear
					&:hover
						color c-orange
					.ico
						display inline-block
						vertical-align middle
						margin-right 5px
						&:before
							font-family icomoon
							font-size 25px
	.menu-navegacion
		background c-green-menu
		padding 19px 0
		box-sizing border-box
		.wancho
			.menu-nav
				.menu-list
					text-align right
					.menu-item
						display inline-block
						margin auto 30px
						.menu-link
							color white
							padding 5px 10px
							font-size 21px
							box-sizing border-box
							transition all .3s linear
							font-family f-nunito-regular
							position relative
							&:before
								content ""
								width 100%
								height 100%
								display block
								border 2px solid white
								position absolute
								left 0
								top 0
								transform scale(1.1)
								box-sizing border-box
								opacity 0
								border-radius 10px
								transition all .25s cubic-bezier(0.74, 0.59, 0.67, 1.64)
							&:hover,&.active
								&:before
									opacity 1
									transform scale(1)

// *** FOOTER ***
.footer
	background c-green-menu
	.footer-contacto
		.wancho
			padding 50px 0
			position relative
			font-size 0
			&:after
				content ''
				background url(../img/crayola-azul.png) center center no-repeat
				position absolute
				right 0
				top -35px
				display block
				width 172px
				height 210px
				transform-origin 50% 50%
				animation footer-crayola 3s infinite
			.f-item-contacto
				width 33.33%
				display inline-block
				vertical-align top
				&.right
					padding-left 80px
					box-sizing border-box
				h2
					font-family f-nunito-regular
					font-size 22px
					color c-orange
					margin-bottom 22px
				.cnt-item
					font-size 0
					.map-site
						display inline-block
						width 40%
						font-size 14px
						a
							color white
							display block
							margin-bottom 5px
							&:hover
								color c-orange
								text-decoration underline
					.correo,
					.tel
						display block
						margin-bottom 5px
						color white
					.correo
						font-size 15px
					.tel
						font-size 22px
					.icon
						display inline-block
						font-size 30px
						color white
						margin auto 5px
	.footer-copyright
		overflow hidden
		font-size 12px
		color white
		.w-copyright
			overflow hidden
			padding 10px 0
			.from
				float left
				.w-logo,
				p
					display inline-block
					vertical-align middle
				.w-logo
					width 90px
					img
						max-width 100%
						height auto
				p
					max-width 275px
					margin 0
			.by
				float right
				display table
				height 70px
				a
					display table-cell
					vertical-align middle
				.staffcreativa
					position relative
					padding-right 0.45em
					transition all 0.25s ease
					&:after
						content '\e60e'
						font-family icomoon
						font-size 0.7em
						font-style normal
						font-variant normal
						font-weight normal
						line-height 1
						position absolute
						right 0
						speak none
						text-transform none
						top 0.1em


/*######################
# Menu responsive (Editable)
######################*/
.r-overlay
	position fixed
	top 0
	left 0
	background-color black
	z-index -1
	width 100%
	height 100%
	opacity 0
	cursor pointer
	transition all 0.65s ease
.w-nav
	display none
	position fixed //Para que se mueva el contenedor de los iconos
	top 12px //top del icono
	right 0
	font-size 2em
	z-index 1001
.menu-mobile
	cursor pointer
	visibility visible
	opacity 1
	color c-black //Color del icono
	font-size 45px //Tamaño icono
	text-shadow rgba(0, 0, 0, 0.50) 3px 1px 5px //Sombra al icono
	transform scale(1,1)
	transition all 0.45s cubic-bezier(.89,1.5,.8,1.06)
.menu-mobile-close
	cursor pointer
	position fixed
	top 0
	right 0
	visibility hidden
	opacity 0
	color c-black //Color del icono
	font-size 45px //Tamaño icono
	transform scale(0,0)
	transition all 0.45s cubic-bezier(.89,1.5,.8,1.06)
/*######################
# Styles Menu responsive (editable)
######################*/
.menu-responsive
	width 200px
	//width 60% //Ancho del menu-responsive
	height 100%
	overflow hidden
	position fixed
	top 0
	right -200px
	//right -60% //Posicion ocultar el menu-responsive
	background white
	//background rgba(21, 159, 213, 0.9) //Color del menu-resposnive
	//padding-top 30px //Espacio para ver mejor el icono
	z-index 1000
	transition right 0.45s ease
	.menu-list
		padding-top 2em
	.menu-item
		a
			display block
			height 2em
			line-height 2em
			padding-left 1em
			&:hover
				background-color gray
		.active1
			background-color gray
	.menu-sub-list
		display none
		&>li
			&>a
				text-indent 1em

/*######################
# ESTADOS ACTIVE Menu responsive (editable)
######################*/
.active-menu
	right 0
.active-overlay
	z-index 1000
	opacity 0.6 //Opacidad overlay
.active-menu-mobile
	visibility hidden
	opacity 0
	transform scale(0,0)
	transition all 0.45s cubic-bezier(.89,1.5,.8,1.06)
.active-menu-mobile-close
	visibility visible
	opacity 1
	transform scale(1,1)

/*##################
# Efect move-left
/*#################*/
.cnt-wrapper,.footer
	position relative
	left 0
	transition left 0.45s ease
.active-cnt-wrapper,.active-footer
	left -200px

.body-active
	overflow hidden



@media screen and (max-width 1024px)
	.header
		.menu-navegacion
			.wancho
				.menu-nav
					.menu-list
						.menu-item
							margin auto 5px

	.footer
		.footer-contacto
			.wancho
				.f-item-contacto
					padding 0 10px
					box-sizing border-box
					&.right
						padding 0 10px

@media screen and (max-width: 960px)
	html,
	body
		.wrapper
			padding-bottom 287px
		.footer
			margin-top -287px
			height 287px
	.nav-list
		display none
	.w-nav
		display block
	.header
		.menu-secciones,
		.menu-navegacion
			display none
		.wancho
			font-size 0
			text-align left
			.w-logo
				position initial
				width 100px
	.footer
		.footer-contacto
			.wancho
				&:after
					display none
				.f-item-contacto
					width 50%
					text-align center
					&.mapsite
						display none
@media screen and (max-width 768px)
	html,
	body
		.wrapper
			padding-bottom 396px
		.footer
			margin-top -396px
			height 396px
	.footer
		.footer-contacto
			.wancho
				&:after
					display none
				.f-item-contacto
					width 100%
					text-align center
					&.right
						margin-top 20px
		.footer-copyright
			.w-copyright
				.from,
				.by
					float none
					display block
					width 100%
					text-align center
				.by
					height auto
					a
						display initial
@media screen and (max-width: 480px)
	html,
	body
		.wrapper
			padding-bottom 420px
		.footer
			margin-top -420px
			height 420px
	.footer
		.footer-copyright
			.w-copyright
				.from
					margin-bottom 10px
					a,
					p
						display block
						text-align center
					p
						max-width 100%

