@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?mjk9us');
	src:url('../fonts/icomoon.eot?#iefixmjk9us') format('embedded-opentype'),
		url('../fonts/icomoon.woff?mjk9us') format('woff'),
		url('../fonts/icomoon.ttf?mjk9us') format('truetype'),
		url('../fonts/icomoon.svg?mjk9us#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sliderflechachico-02:before {
	content: "\e60c";
}
.icon-bannerslider-02:before {
	content: "\e60d";
}
.icon-lazo-01:before {
	content: "\e60f";
}
.icon-detalle-check-01:before {
	content: "\e610";
}
.icon-FLECHITAmenu-01:before {
	content: "\e611";
}
.icon-lazo-012:before {
	content: "\e613";
}
.icon-twitter-01:before {
	content: "\e614";
}
.icon-facebook-01:before {
	content: "\e615";
}
.icon-sliderflechachico-01:before {
	content: "\e616";
}
.icon-historiagraficos-01:before {
	content: "\e617";
}
.icon-bannerslider-01:before {
	content: "\e618";
}
.icon-icononinos-01:before {
	content: "\e619";
}
.icon-iconoprofesores-01:before {
	content: "\e61a";
}
.icon-iconopadres-01:before {
	content: "\e61b";
}
.icon-iconoactividaders-01:before {
	content: "\e61c";
}
.icon-map-01:before {
	content: "\e61e";
}
.icon-mail-01:before {
	content: "\e61f";
}
.icon-Telefono-01:before {
	content: "\e620";
}
.icon-download-01:before {
	content: "\e621";
}
.icon-nontoxic-01:before {
	content: "\e622";
}
.icon-caution-01:before {
	content: "\e623";
}
.icon-medalla-01:before {
	content: "\e624";
}
.icon-foco-01:before {
	content: "\e625";
}
.icon-caja-01:before {
	content: "\e626";
}
.icon-staff:before {
	content: "\e60e";
}
.icon-circle:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e60a";
}
.icon-youtube:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e612";
}
.icon-location:before {
	content: "\e600";
}
.icon-envelope:before {
	content: "\e61d";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-down:before {
	content: "\e608";
}
.icon-arrow-up:before {
	content: "\e609";
}
.icon-close:before {
	content: "\e605";
}
.icon-social-facebook:before {
	content: "\e603";
}
.icon-social-twitter:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e602";
}