@keyframes fadeImage
	0%
		opacity 1
	100%
		opacity 0

@keyframes zoomFadeImage
	0%
		transform scale(1)
		opacity 1
	50%
		transform scale(1.1)
		opacity 0
	100%
		transform scale(1)
		opacity 0.8

@keyframes moveSun
	0%
		background-position 0px 0px
	100%
		background-position 5px 5px

@keyframes moveStar
	0%
		background url('../img/crayola-star-1.png')
	100%
		background url('../img/crayola-star-2.png')

@keyframes moveLine
	0%
		background url('../img/crayola-line-2-1.png')
	100%
		background url('../img/crayola-line-2-2.png')

@keyframes moveButterfly
	0%
		background url('../img/crayola-butterfly-1.png')
	100%
		background url('../img/crayola-butterfly-2.png')

@keyframes fadeLine
	0%
		transform scale(1) translateY(0px)
		opacity 1
	50%
		transform scale(1.2) translateY(0px)
		opacity 0
	100%
		transform scale(1) translateY(0px)
		opacity 0

@keyframes gFly
	0%
		transform translateY(0px)
	50%
		transform translateY(5px)
	100%
		transform translateY(0px)
		
.page-crayola
	.crayola-sec-content
		background url('../img/crayola-crayola.png') no-repeat top center
		padding-top 80px
		margin-bottom 35px
		.crayola-cnt-content
			.cnt-title
				max-width 545px
				margin 0 auto
				color c-green-title-banner
				text-align center
				margin-bottom 130px
				.title
					font-family f-nunito-regular
					font-size 28px
				.description
					font-size 15px
				.arrow-down
					display inline-block
					width 35px
					height 35px
					line-height 36px
					text-align center
					border-radius 50%
					border 2px solid c-green-title-banner
					animation gFly 2s infinite
			.cnt-item
				background url('../img/crayola-line-time.png') repeat-y top center
				.item
					height 330px
					position relative
					margin-bottom 70px
					.cnt-description
						.date,
						.title,
						.description
							opacity 0
						.date
							transform translateY(71px)
							transition all .5s linear
						.title
							transform translateY(36px)
							transition all .5s linear .2s
						.description
							transform translateY(70px)
							transition all .5s linear .4s
					.cnt-image
						opacity 0
						//transition all 1s cubic-bezier(.33,.39,0,1.66)
						transition all .5s cubic-bezier(.33,.39,0,1.2)
					.cnt-description
						width 50%
						.date
							display inline-block
							width 145px
							height 71px
							line-height 56px
							background-image url('../img/crayola-lazo.png')
							background-repeat no-repeat
							background-position center center
							font-family f-nunito-regular
							font-size 37px
							color c-green-subtitle-banner
							text-align center
							margin-bottom 5px
						.title
							font-family f-nunito-regular
							font-size 27px
							color c-green-subtitle-banner
							margin-bottom 5px
						.description
							line-height 19px
							text-align justify
							p
								margin 0
							strong
								color c-green-subtitle-banner
					.cnt-image
						display inline-block
						width 456px
						height 273px
						position absolute
						top 0
						overflow hidden
						img
							display block
							width 100%
							height auto
							position relative
							z-index 5
						.bg-image
							width 100%
							height 100%
							background-repeat no-repeat
							position absolute
							top 0
							left 0
						.bg-line-1
							&:before,
							&:after
								content ''
								width 100%
								height 100%
								position absolute
								top 0
								left 0
								transform scale(1) translateY(0px)
							&:before
								background url('../img/crayola-line-1-1.png')
								animation fadeLine 1s linear infinite
							&:after
								background url('../img/crayola-line-1-2.png')
								animation fadeLine 1s linear infinite .2s
						.bg-cloud
							background url('../img/crayola-cloud.png')
							animation zoomFadeImage 2s linear infinite
						.bg-star
							background url('../img/crayola-star-1.png')
							animation moveStar .1s ease-in-out infinite alternate
						.bg-sun
							background url('../img/crayola-sun.png')
							animation moveSun 1s ease-in-out infinite alternate
						.bg-line-2
							background url('../img/crayola-line-2-1.png')
							animation moveLine .1s ease-in-out infinite alternate
						.bg-butterfly
							background url('../img/crayola-butterfly.png')
							animation moveButterfly .1s ease-in-out infinite alternate
						
				.i-odd
					text-align left
					.cnt-description
						text-align right
						padding-right 65px
					.cnt-image
						right 70px
						transform translateX(200px)
				.i-even
					text-align right
					.cnt-description
						text-align left
						padding-left 65px
					.cnt-image
						left 70px
						transform translateX(-200px)
						
				
				.animate-item
					.cnt-description
						.date,
						.title,
						.description
							opacity 1
							transform translateY(0)
					.cnt-image
						opacity 1
						transform translateX(0)
				.item
					&:first-child
						.cnt-description
							.date,
							.title,
							.description
								opacity 1
								transform translateY(0)
						.cnt-image
							opacity 1
							transform translateX(0)
	.crayola-pager
		position fixed
		right 30px
		top 35%
		z-index 100
		&:before
			content ''
			width 3px
			height 100%
			background-color c-grey-light
			position absolute
			top 0
			left 0
			right 0
			margin auto
		.pager
			display block
			width 20px
			height 20px
			border-radius 50%
			background-color c-grey-light
			box-shadow 2px 2px 5px 0px rgba(0,0,0,.5)
			margin-top 20px
			position relative
			&:first-child
				margin-top 0
			&:before
				content ''
				display block
				width 0
				height 0
				border-radius 50%
				background-color c-green-subtitle-banner
				position absolute
				//left 50%
				//top 50%
				//margin 0
				top 0
				left 0
				right 0
				bottom 0
				margin auto
				transition all 0.2s linear
			&:hover,
			&.active
				&:before
					width 20px
					height 20px
					//margin -10px
				
	
@media screen and (max-width: 1100px)
	.page-crayola
		.crayola-sec-content
			.crayola-cnt-content
				.cnt-item
					.i-odd
						.cnt-image
							right 0
					.i-even
						.cnt-image
							left 0

@media screen and (max-width: 960px)
	.page-crayola
		.crayola-sec-content
			.crayola-cnt-content
				.cnt-title
					margin-bottom 90px
				.cnt-item
					background none
					.item
						height auto
						.cnt-image,
						.cnt-description
							transition all 1s cubic-bezier(.33,.39,0,1)
						.cnt-image
							position static
						.cnt-description
							width 100%
					.i-odd,
					.i-even
						text-align center
						.cnt-description
							padding-right 0
							padding-left 0
							text-align center
		.crayola-pager
			display none
							

@media screen and (max-width: 768px)
	.page-crayola
		.crayola-sec-content
			.crayola-cnt-content
				.cnt-title
					.title
						font-size 20px
				.cnt-item
					.item
						.cnt-description
							.title
								font-size 20px


@media screen and (max-width: 640px)
	.page-crayola
		.crayola-sec-content
			.crayola-cnt-content
				.cnt-item
					.item
						.cnt-image
							display none