// Colors
c-black = #000
c-white = #fff
c-facebook = #3a5795
c-twitter = #55acee
c-youtube = #cc181e
c-google = #cc181e

c-font = #555555
c-green-dark = #11530f
c-green-menu = #187816
c-orange = #ffb828
/*Home*/
//c-green-title = #619c39
/*Pages*/
c-green-title-banner = #187816
c-green-subtitle-banner = #619c39
c-green-products = #007639
/*Button*/
c-green-button = #187816
c-orange-button = #eb5503


// Fonts
icomoon = 'icomoon'
f-nunito-light = 'nunitolight'
f-nunito-regular = 'nunitoregular'
f-nunito-bold = 'nunitobold'
f-cabin = 'cabinsketchregular'
f-cabin-b = 'cabinsketchbold'
w-bold = 700
w-regular = 400
///////////////
.page-home
	.home-cnt-slider-banner
		box-shadow 0 -16px 50px black
		.home-slider-banner
			.item-slide-banner
				background-size cover
				background-position center center
				height 450px

				.wancho
					text-align right
					padding 55px 0
					.cnt-texto-boton
						max-width 570px
						margin-left 43%
						text-align center
						.texto
							strong
								font-family f-cabin
								color c-green-dark
								font-size 63px
								font-weight normal
								line-height 50px
							p
								font-family f-nunito-regular
								color c-orange
								font-size 45px
		.bx-controls
			.bx-pager
				z-index 52
				bottom 20px
				.bx-pager-item
					a
						height 15px
						width 15px
						border-radius 50%
						background #cbcbcb
						box-shadow inset 0 2px 6px -3px black
						transition all .3s linear
						&:hover,&.active
							background #aeaeae
			.bx-controls-direction
				a
					z-index 52
					background none
				.bx-prev,
				.bx-next
					font-family icomoon
					font-size 60px
					color #cbcbcb
					text-indent initial
					height 60px
					width 60px
					text-align center
					transition all .3s linear

					&:hover
						color #aeaeae

				.bx-prev
					left 25px
					&:before
						content '\e618'
				.bx-next
					right 25px
					&:before
						content '\e60d'
	.home-cnt-productos
		padding 40px 0
		.wancho
			text-align center
			.g-title-sec
				margin-bottom 50px
			.cnt-productos
				text-align center
				margin-bottom 40px
				.-item-g
					margin auto 3px
	.home-cnt-nosotros
		background c-orange
		padding 60px 0
		.wancho
			position relative
			.cnt-texto
				max-width 500px
				text-align center
				position relative
				z-index 1
				.title-img
					width 320px
					max-width 100%
					margin auto
					position relative
					&:after
						content ''
						position absolute
						height 70px
						width 125px
						background url(../img/after-titulo.png) center center no-repeat
						right -65px
						top 10px
					img
						max-width 100%
						height auto
				.titulo
					font-size 26px
					color c-green-title-banner
					font-weight normal
					font-family f-nunito-regular
					margin-bottom 15px
					p
						margin-bottom 0
				.texto
					font-size 17px
					color c-green-title-banner
					margin-bottom 35px
					position relative
					padding 15px 0
					p
						margin-bottom 0
					&:before,
					&:after
						content ''
						position absolute
						background url(../img/puntitos.png) center center no-repeat
						max-width 100%
						width 397px
						height 4px
						left 0
						right 0
						margin auto
					&:before
						top 0
					&:after
						bottom 0
			.cnt-img
				position absolute
				right -60px
				top 0
				z-index 0

