c-arrow-slider = #d2d2d2
c-arrow-hover-slider = #c6c6c6 

@keyframes shakeCar
	0%
		background url('../img/products-detail-car-1.png')
	100%
		background url('../img/products-detail-car-2.png')
@keyframes moveCar
	0%
		opacity 0.5
		transform translateX(-40px)
	50%
		opacity 1
	100%
		opacity 0
		transform translateX(150px)
		

.page-products-detail
	.pd-sec-detail
		background url('../img/products-detail-shadow.png') repeat-x bottom left
		padding-bottom 125px
		//margin-top 20px
		margin-bottom 15px
		.pd-cnt-detail
			width 94%
			max-width 925px
			margin auto
			.grid-detail
				text-align left
				p
					margin 0
				.col-left
					width 38%
				.col-right
					width 62%
				.cnt-image
					display inline-block
					img
						display block
						width 100%
						height auto
				.cnt-description
					text-align left
					.description-1
						display inline-block
						margin-bottom 15px
					.id
						font-size 13px
					.title
						font-family f-nunito-regular
						font-size 35px
						color c-green-subtitle-banner
						border-bottom 2px dashed #c7c7c7
						padding-bottom 20px
						margin-bottom 15px
					.list
						font-size 16px
						font-weight bold
						color c-green-title-banner
						border-bottom 2px dashed #c7c7c7
						padding-bottom 8px
						text-align justify
						li
							position relative
							padding-left 35px
							margin-bottom 10px
							&:before
								content ''
								width 24px
								height 20px
								background url('../img/products-detail-check.png') no-repeat center center
								position absolute
								top 0
								left 0
						// ul
						// 	list-style inside disc url('../img/products-detail-check.png')
						// 	li
						// 		list-style inherit
					.d-title
						font-family f-nunito-regular
						font-size 25px
						color c-green-title-banner
						margin-bottom 9px
					.d-list
						text-align justify
						li
							position relative
							padding-left 12px
							&:before
								content '\e60b'
								font-family icomoon
								font-size 7px
								position absolute
								top 5px
								left 0
	.pd-sec-store
		margin-bottom 77px
		overflow hidden
		.pd-cnt-store
			position relative
			.cnt-title
				text-align center
				margin-bottom 45px
				h1
					font-family f-nunito-regular
					font-size 31px
					color c-green-subtitle-banner
				p
					font-size 18px
					color c-green-title-banner
			.cnt-slider
				max-width 735px
				margin 0 auto
				
				.bx-wrapper .bx-controls-direction a
					width 35px
					height 35px
					text-indent 0
					color c-arrow-slider
					font-size 30px
					transition all .25s linear
					&:before
						font-family icomoon
						position absolute
						top 3px
						left 3px
					&:hover
						color c-arrow-hover-slider
				.bx-wrapper .bx-prev
					left -40px
					background none
					&:before
						content '\e616'
				.bx-wrapper .bx-next
					right -40px
					background none
					&:before
						content '\e60c'
			.cnt-car
				width 243px
				height 86px
				background url('../img/products-detail-car-1.png')
				position absolute
				bottom 0
				right -140px
				opacity 0
				animation shakeCar .3s infinite, moveCar 2s infinite

@media screen and (max-width: 1024px)
	.page-products-detail
		.pd-sec-store
			.pd-cnt-store
				.cnt-car
					display none
					
@media screen and (max-width: 960px)
	.page-products-detail
		.pd-sec-store
			.pd-cnt-store
				.cnt-slider
					max-width 582px

@media screen and (max-width: 768px)
	.page-products-detail
		.pd-sec-detail
			padding-bottom 100px
			.pd-cnt-detail
				.grid-detail
					.col-left
						width 100%
						text-align center
						margin-bottom 20px
					.col-right
						width 100%
					.cnt-description
						.title
							font-size 30px
		.pd-sec-store
			.pd-cnt-store
				.cnt-slider
					max-width 429px

@media screen and (max-width: 600px)
	.page-products-detail
		.pd-sec-store
			.pd-cnt-store
				.cnt-slider
					max-width 123px
					.bx-wrapper .bx-prev
						left -60px
					.bx-wrapper .bx-next
						right -60px

@media screen and (max-width: 480px)
	.page-products-detail
		.pd-sec-detail
			.pd-cnt-detail
				.g-migas
					.button-back
						position relative
				.grid-detail
					.cnt-description
						.description-1
							width 100%
						.title
							font-size 25px
						.d-title
							font-size 20px
		.pd-sec-store
			.pd-cnt-store
				.cnt-title
					h1
						font-size 25px
					p
						font-size 16px
							