.-cnt-productos
	.-productos
		.-menu-productos
			width 226px
			min-height 460px
			padding 30px 30px 130px 48px
			box-sizing border-box
			background-color #ffb828
			.-cabezera
				font-family  f-nunito-bold
				color #007639
				font-size 20px

