@import 'nib'
@import 'normalize'

// Colors
negro = #000
blanco = #fff
c-0 = #898e8b
c-1 = #009bc2
c-2 = #aea693
c-3 = #e20031
c-4 = #e8e8e8
c-5 = #efefef
c-6 = #e8e6f1
c-7 = #f9f9fb
c-9 = #cfeef9


// Fonts
icomoon = 'icomoon'
f-nunito-light = 'nunitolight'
f-nunito-regular = 'nunitoregular'
f-nunito-bold = 'nunitobold'
f-cabin = 'cabinsketchregular'
f-cabin-b = 'cabinsketchbold'
w-bold = 700
w-regular = 400



// Mixins

placeholder(color)
	::-webkit-input-placeholder { color: color; } /* WebKit */
	:-moz-placeholder { color: color; } /* Firefox 18- */
	::-moz-placeholder { color: color; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; } /* IE 10+ */

// General
.wancho
	max-width 720px
	margin auto

.cf
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

dashed()
	a {outline:none;}
	a::-moz-focus-inner {border:0;}

a
	color inherit
	&:focus
		outline none


.vencedor-adicional
	font-family  'Arial', sans-serif;
	font-size 18px
	color c-0
	background-color blanco
	
	.premios-list
		.w-item	
			text-align center
			background-color c-6
			padding 25px
			.w-img, .w-text
				display inline-block
				vertical-align top
				text-align left
			.w-img
				padding 15px
				background-color blanco
				text-align center
				position relative
				border-radius 100%
				img
					border-radius 100%
					display block
					max-width 100%
					height auto
			
			.w-text
				width 340px
				color c-1
				margin-left 58px
				margin-top 45px
				
				h3
					font-size 22px
					font-weight bold
				p 
					font-size 18px	
					
				
		.item-par
			background-color c-7
	.w-text-resumen	
		padding 40px 60px
	
	.d-terminos
		padding 35px
		font-size 22px
		color c-1
		text-decoration underline
		text-align center
//ganadores				

	.ganadores-list
		.w-item	
			background-color c-4
			padding 30px
			text-align center
			.w-img, .w-text
				display inline-block
				vertical-align top
				text-align left
			.w-img
				background-color blanco
				text-align center
				position relative
				border-radius 100%
				padding 20px
				img
					border-radius 100%
					display block
					max-width 100%
					height auto

			.w-number	
				width 40px
				height 40px
				line-height 40px
				text-align center
				background-color c-1
				color blanco
				position absolute
				top 30px
				right 30px
				border-radius 100%
				font-size 20px
				font-family 'Open Sans', sans-serif;
				
				
			.w-text
				width 350px
				margin-top 20px
				margin-left 45px
				h3
					font-size 22px
					color c-1
				p 
					font-size 18px
					color c-2
				strong
					font-size 18px
					color c-3
					font-weight normal	
		
		.item-par
			background-color c-5
		
	.ranking-list
		table
			width 100%
			tr, td
				width 50%
				text-align center
				
			th 
				border 1px solid #c1c1c1
				border-bottom 1px solid #00a9ff
				height 100px
				font-size 22px
				font-family 'Open Sans', sans-serif
				color #656565
				&.active
					border-bottom 8px solid c-1
			td 
				border 1px solid #00a9ff
				height 65px
				font-size 18px
				color #6e6c68
			
			tr.item-impar
				td 
					background-color c-9

@media screen and (max-width 700px)	
	.ranking-list table 
		th				
			height 60px
			font-size 20px
		td
			height 45px
			
	.vencedor-adicional 
		.d-terminos
			font-size 18px
		.w-text-resumen
			padding 20px
			font-size 14px
			p 
				margin-bottom 0px
		.premios-list, .ganadores-list 
			.w-item 
				padding 10px
				.w-img
					width 25%
					height 25%
					padding 5px
					img 
						max-width 100%
						height auto
						margin 0						
				.w-text
					width 67%
					margin-left 5px
					margin-top 7%
					h3
						font-size 18px
					p 
						font-size 13px
						
		.ganadores-list .w-item .w-number	
			top 20px
			right 25px
			
	
@media screen and (max-width 480px)			
	.vencedor-adicional .premios-list .w-item .w-text, .vencedor-adicional .premios-list .w-item .w-text
		margin-top 5%

	.vencedor-adicional .ganadores-list .w-item .w-number
		right 5px		
		width 30px
		height 30px
		line-height 30px
		font-size 14px
		
