/* BASE */
html,body{
	height:auto;
}
.cnt-wrapper{
	min-height: 0;
}
.wrapper{
	padding-bottom:0;
	overflow:auto;
}
.footer{
	position: static;
	margin-top:0;
	clear:none;
}
.-item-g .-cnt-img span{
	background-color:  #000;
}
.-button-g:before{
	display:  none;
}
.-button-g:hover{
	background-color: #ffb828
}
.-button-border-g:before{
	display:  none;
}
.-button-border-g:hover{
	background-color: #187816;
}
.-button-flecha-g:before{
	display:  none;
}
.-button-flecha-g em{
	left: -10px;
}
