/* normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}
h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1;
}
h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1;
}
h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1;
}
a img {
  border: none;
}
p {
  margin: 0 0 15px;
}
li {
  list-style: none;
}
em,
cite {
  font-style: normal;
}
strong {
  font-weight: bold;
}
label {
  cursor: pointer;
}
textarea {
  font-family: Arial, sans-serif;
  resize: none;
}
input[type="submit"] {
  cursor: pointer;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
}
table,
th,
td {
  vertical-align: middle;
}
br {
  line-height: 1;
}
/* normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}
h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1;
}
h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1;
}
h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1;
}
a img {
  border: none;
}
p {
  margin: 0 0 15px;
}
li {
  list-style: none;
}
em,
cite {
  font-style: normal;
}
strong {
  font-weight: bold;
}
label {
  cursor: pointer;
}
textarea {
  font-family: Arial, sans-serif;
  resize: none;
}
input[type="submit"] {
  cursor: pointer;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
}
table,
th,
td {
  vertical-align: middle;
}
br {
  line-height: 1;
}
.wancho {
  max-width: 720px;
  margin: auto;
}
.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
a {
  color: inherit;
}
a:focus {
  outline: none;
}
.vencedor-adicional {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #898e8b;
  background-color: #fff;
}
.vencedor-adicional .premios-list .w-item {
  text-align: center;
  background-color: #e8e6f1;
  padding: 25px;
}
.vencedor-adicional .premios-list .w-item .w-img,
.vencedor-adicional .premios-list .w-item .w-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.vencedor-adicional .premios-list .w-item .w-img {
  padding: 15px;
  background-color: #fff;
  text-align: center;
  position: relative;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.vencedor-adicional .premios-list .w-item .w-img img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}
.vencedor-adicional .premios-list .w-item .w-text {
  width: 340px;
  color: #009bc2;
  margin-left: 58px;
  margin-top: 45px;
}
.vencedor-adicional .premios-list .w-item .w-text h3 {
  font-size: 22px;
  font-weight: bold;
}
.vencedor-adicional .premios-list .w-item .w-text p {
  font-size: 18px;
}
.vencedor-adicional .premios-list .item-par {
  background-color: #f9f9fb;
}
.vencedor-adicional .w-text-resumen {
  padding: 40px 60px;
}
.vencedor-adicional .d-terminos {
  padding: 35px;
  font-size: 22px;
  color: #009bc2;
  text-decoration: underline;
  text-align: center;
}
.ganadores-list .w-item {
  background-color: #e8e8e8;
  padding: 30px;
  text-align: center;
}
.ganadores-list .w-item .w-img,
.ganadores-list .w-item .w-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.ganadores-list .w-item .w-img {
  background-color: #fff;
  text-align: center;
  position: relative;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 20px;
}
.ganadores-list .w-item .w-img img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}
.ganadores-list .w-item .w-number {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #009bc2;
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.ganadores-list .w-item .w-text {
  width: 350px;
  margin-top: 20px;
  margin-left: 45px;
}
.ganadores-list .w-item .w-text h3 {
  font-size: 22px;
  color: #009bc2;
}
.ganadores-list .w-item .w-text p {
  font-size: 18px;
  color: #aea693;
}
.ganadores-list .w-item .w-text strong {
  font-size: 18px;
  color: #e20031;
  font-weight: normal;
}
.ganadores-list .item-par {
  background-color: #efefef;
}
.ranking-list table {
  width: 100%;
}
.ranking-list table tr,
.ranking-list table td {
  width: 50%;
  text-align: center;
}
.ranking-list table th {
  border: 1px solid #c1c1c1;
  border-bottom: 1px solid #00a9ff;
  height: 100px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #656565;
}
.ranking-list table th.active {
  border-bottom: 8px solid #009bc2;
}
.ranking-list table td {
  border: 1px solid #00a9ff;
  height: 65px;
  font-size: 18px;
  color: #6e6c68;
}
.ranking-list table tr.item-impar td {
  background-color: #cfeef9;
}
@media screen and (max-width: 700px) {
  .ranking-list table th {
    height: 60px;
    font-size: 20px;
  }
  .ranking-list table td {
    height: 45px;
  }
  .vencedor-adicional .d-terminos {
    font-size: 18px;
  }
  .vencedor-adicional .w-text-resumen {
    padding: 20px;
    font-size: 14px;
  }
  .vencedor-adicional .w-text-resumen p {
    margin-bottom: 0px;
  }
  .vencedor-adicional .premios-list .w-item,
  .vencedor-adicional .ganadores-list .w-item {
    padding: 10px;
  }
  .vencedor-adicional .premios-list .w-item .w-img,
  .vencedor-adicional .ganadores-list .w-item .w-img {
    width: 25%;
    height: 25%;
    padding: 5px;
  }
  .vencedor-adicional .premios-list .w-item .w-img img,
  .vencedor-adicional .ganadores-list .w-item .w-img img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  .vencedor-adicional .premios-list .w-item .w-text,
  .vencedor-adicional .ganadores-list .w-item .w-text {
    width: 67%;
    margin-left: 5px;
    margin-top: 7%;
  }
  .vencedor-adicional .premios-list .w-item .w-text h3,
  .vencedor-adicional .ganadores-list .w-item .w-text h3 {
    font-size: 18px;
  }
  .vencedor-adicional .premios-list .w-item .w-text p,
  .vencedor-adicional .ganadores-list .w-item .w-text p {
    font-size: 13px;
  }
  .vencedor-adicional .ganadores-list .w-item .w-number {
    top: 20px;
    right: 25px;
  }
}
@media screen and (max-width: 480px) {
  .vencedor-adicional .premios-list .w-item .w-text {
    margin-top: 5%;
  }
  .vencedor-adicional .ganadores-list .w-item .w-number {
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
}
