@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?te8zaq");
  src: url("../fonts/icomoon.eot?#iefixte8zaq") format('embedded-opentype'), url("../fonts/icomoon.woff?te8zaq") format('woff'), url("../fonts/icomoon.ttf?te8zaq") format('truetype'), url("../fonts/icomoon.svg?te8zaq#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-florlogo:before {
  content: "\e611";
}
.icon-bolsa:before {
  content: "\e60a";
}
.icon-cuidado:before {
  content: "\e60b";
}
.icon-etiqueta:before {
  content: "\e60c";
}
.icon-flecha:before {
  content: "\e60d";
}
.icon-flor:before {
  content: "\e60f";
}
.icon-mision:before {
  content: "\e614";
}
.icon-nube:before {
  content: "\e615";
}
.icon-politica:before {
  content: "\e616";
}
.icon-telefono:before {
  content: "\e617";
}
.icon-tienda:before {
  content: "\e618";
}
.icon-tuerca:before {
  content: "\e619";
}
.icon-usuario:before {
  content: "\e61a";
}
.icon-vector1:before {
  content: "\e61b";
}
.icon-vector2:before {
  content: "\e61c";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-search:before {
  content: "\e612";
}
.icon-instagram:before {
  content: "\e610";
}
.icon-location:before {
  content: "\e600";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-youtube-play:before {
  content: "\e601";
}
/* normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}
h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1;
}
h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1;
}
h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1;
}
a img {
  border: none;
}
p {
  margin: 0 0 15px;
}
li {
  list-style: none;
}
em,
cite {
  font-style: normal;
}
strong {
  font-weight: bold;
}
label {
  cursor: pointer;
}
textarea {
  font-family: Arial, sans-serif;
  resize: none;
}
input[type="submit"] {
  cursor: pointer;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
}
table,
th,
td {
  vertical-align: middle;
}
br {
  line-height: 1;
}
/*by┌─────────┐***/
/***│ YUMMTA  │***/
/***└─────────┘***/
.wancho {
  width: 94%;
  max-width: 960px;
  margin: auto;
}
body {
  color: #000;
  font-size: 16px;
}
a {
  color: inherit;
}
a:focus {
  outline: none;
}
.r-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-transition: all 0.65s ease;
  -moz-transition: all 0.65s ease;
  -o-transition: all 0.65s ease;
  -ms-transition: all 0.65s ease;
  transition: all 0.65s ease;
}
.w-nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  z-index: 1001;
}
.menu-mobile {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -moz-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -o-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -ms-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
}
.menu-mobile-close {
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -moz-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -o-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -ms-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
}
.menu-responsive {
  width: 200px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: -200px;
  background: #fff;
  z-index: 1000;
  -webkit-transition: right 0.45s ease;
  -moz-transition: right 0.45s ease;
  -o-transition: right 0.45s ease;
  -ms-transition: right 0.45s ease;
  transition: right 0.45s ease;
}
.menu-responsive>ul {
  padding-top: 2em;
}
.menu-responsive>ul>li a {
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
}
.menu-responsive>ul>li a:hover {
  background-color: #808080;
}
.menu-responsive>ul>li .active1 {
  background-color: #808080;
}
.menu-responsive .u-submenu {
  display: none;
}
.menu-responsive .u-submenu>li>a {
  text-indent: 1em;
}
.menu-mobile-close,
.menu-mobile {
  cursor: pointer;
}
.active-menu {
  right: 0;
}
.active-overlay {
  visibility: visible;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.active-menu-mobile {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -moz-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -o-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  -ms-transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
  transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
}
.active-menu-mobile-close {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.cnt-wrapper,
.footer {
  position: relative;
  left: 0;
  -webkit-transition: left 0.45s ease;
  -moz-transition: left 0.45s ease;
  -o-transition: left 0.45s ease;
  -ms-transition: left 0.45s ease;
  transition: left 0.45s ease;
}
.active-cnt-wrapper,
.active-footer {
  left: -200px;
}
.nav-list>ul>li {
  position: relative;
}
.nav-list>ul>li:hover .u-submenu {
  display: block;
}
.nav-list .u-submenu {
  position: absolute;
  top: 1em;
  left: 0;
  display: none;
}
.header .nav-list li {
  display: inline-block;
}
.header {
  text-align: center;
}
.header .w-logo {
  display: inline-block;
  line-height: 0;
  margin-top: 1em;
}
.header .w-logo figure {
  display: inline-block;
  width: 125px;
}
.header .w-logo figure img {
  display: block;
}
.footer .copyright {
  background-color: base;
  overflow: hidden;
  font-size: 12px;
  height: 4em;
}
.footer .copyright .from {
  float: left;
}
.footer .copyright .from p {
  margin: 0;
}
.footer .copyright .by {
  float: right;
  color: #808080;
}
.footer .copyright .by .staffcreativa {
  position: relative;
  padding-right: 0.45em;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.footer .copyright .by .staffcreativa:after {
  content: '\e60e';
  font-family: 'icomoon';
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 0;
  speak: none;
  text-transform: none;
  top: 0.1em;
}
.footer .copyright .by a:hover .staffcreativa {
  color: #000;
}
.footer .w-copyright {
  margin-top: 1.5em;
}
@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
  .w-nav {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .footer .w-copyright {
    margin: 0;
    padding: 1.5em 0;
  }
  .footer .copyright {
    height: auto;
    text-align: center;
  }
  .footer .copyright .from {
    float: none;
    margin-bottom: 0.4em;
  }
  .footer .copyright .by {
    float: none;
  }
}
.page-home .block {
  text-align: center;
}
.page-home .block2 {
  text-align: left;
}
.page-home .block2 .block2-list {
  padding-left: 1.5em;
}
.page-home .block2 .block2-list li {
  list-style-type: disc;
}
