<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >

	<title></title>


	{% block cssadicional %}
	{% endblock %}
 
	<link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/respond.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/ie.css"/>
	<![endif]-->
</head>

<body class="{% block classbody %}{% endblock %}">
 

	<div class="cnt-wrapper">
		<div class="wrapper">
 
		  	{% block content %}
			{% endblock %}
		</div>
	</div>
 

	<script src="static/js/jquery1.8.3.min.js" type="text/javascript"></script>
 

	{% block jsfinal %}
	{% endblock %}

</body>
</html>