{% extends "base.html" %}

{% block cssadicional %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
{%endblock %}

{% block classbody %}vencedor-adicional{% endblock %}

{% block content %}
<div class="d-ganadores">
	<div class="ganadores-text w-text-resumen">
		<p>
			Felicitaciones a nuestros ganadores, se les contactará para que puedan reclamar su premios.
		</p>
	</div>
	<div class="ganadores-list">
		<div class="w-item">
			<div class="w-img">

					<img src="static/img/ganador-1.jpg" width="160" height="160" alt="Ganadores">
					<div class="w-number"> °1 </div>

			</div>
			<div class="w-text">
				<h3>Juliana Perez</h3>
				<p>
					3711 puntos
				</p>
				<p>
					<strong>Premio A</strong>
				</p>
			</div>
		</div>
		<div class="w-item">
			<div class="w-img">

					<img src="static/img/ganador-1.jpg" width="160" height="160" alt="Ganadores">
					<div class="w-number"> °1 </div>

			</div>
			<div class="w-text">
				<h3>Ricardo Franco</h3>
				<p>
					3711 puntos
				</p>
				<p>
					<strong>Premio B</strong>
				</p>
			</div>
		</div>
		<div class="w-item">
			<div class="w-img">

					<img src="static/img/ganador-1.jpg" width="160" height="160" alt="Ganadores">
					<div class="w-number"> °1 </div>

			</div>
			<div class="w-text">
				<h3>Joaquin  Florez</h3>
				<p>
					3711 puntos
				</p>
				<p>
					<strong>Premio A</strong>
				</p>
			</div>
		</div>				
	</div>
</div>
{% endblock %}

{% block jsfinal %}

<script type="text/javascript">
	$(document).ready(function() {
		 $(".d-ganadores .w-item:odd").addClass('item-par');
	});
</script>
{% endblock %}
