{% extends "base.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}vencedor-adicional{% endblock %}

{% block content %}
<div class="d-premios">
	<div class="premios-text w-text-resumen">
		<p>
			Participa del sorteo de un viaje familiar a Disney, Riviera Maya o Punta Sal. Para que juntos sigan escribiendo más historias de familia.
		</p>
	</div>
	<div class="premios-list">
		<div class="w-item">
			<div class="w-img">
				<div class="inner-tex">
					<img src="static/img/premio-1.jpg" width="196" height="196" alt="Ganadores">
				</div>
			</div>
			<div class="w-text">
				<div class="inner-tex">
					<h3>DISNEY</h3>
					<p>
						Una historia de magia y diversión familiar en, nada más y nada menos, que Magic Kingdom.
					</p>
				</div>

			</div>
		</div>
		<div class="w-item">
			<div class="w-img">
					<img src="static/img/premio-1.jpg" width="196" height="196" alt="Ganadores">
			</div>
			<div class="w-text">
				<h3>DISNEY</h3>
				<p>
					Una historia de magia y diversión familiar en, nada más y nada menos, que Magic Kingdom.
				</p>

			</div>
		</div>
		<div class="w-item">
			<div class="w-img">
					<img src="static/img/premio-1.jpg" width="196" height="196" alt="Ganadores">
			</div>
			<div class="w-text">
				<h3>DISNEY</h3>
				<p>
					Una historia de magia y diversión familiar en, nada más y nada menos, que Magic Kingdom.
				</p>

			</div>
		</div>			
	</div>
	<div class="d-terminos">
		<a href="">Términos y Condiciones</a>
	</div>
</div>
{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
	$(document).ready(function() {
		 $(".premios-list .w-item:odd").addClass('item-par');
	});
</script>
{% endblock %}
