{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}vencedor-adicional{% endblock %}

{% block content %}
<div class="d-ranking">
	 <div class="ranking-list">
	 	<table>
	 		<thead>
	 			<tr>
	 				<th class="active">
	 					GLOBAL
	 				</th>
	 				<th>
	 					AMIGOS
	 				</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			<tr>
	 				<td>
	 					Persona 1
	 				</td>
	 				<td>
	 					1000 puntos
	 				</td>
	 			</tr>
	 			<tr>
	 				<td>
	 					Persona 1
	 				</td>
	 				<td>
	 					1000 puntos
	 				</td>
	 			</tr>
	 			<tr>
	 				<td>
	 					Persona 1
	 				</td>
	 				<td>
	 					1000 puntos
	 				</td>
	 			</tr>
	 			<tr>
	 				<td>
	 					Persona 1
	 				</td>
	 				<td>
	 					1000 puntos
	 				</td>
	 			</tr>	
	 			<tr>
	 				<td>
	 				 
	 				</td>
	 				<td>
	 				 
	 				</td>
	 			</tr>	 			 				 				 			
	 		</tbody>
	 	</table>
	 </div>
</div>
{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
	$(document).ready(function() {
		 $(".ranking-list tr:odd").addClass('item-impar');
	});
</script>
{% endblock %}
