{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}vencedor-adicional{% endblock %}

{% block content %}
<div class="" style="background:url('http://www.historiasdefamilias.pe/web/static/img/b4-bg.jpg') no-repeat #f7f1d8; background-size:100% auto; display:block; width:100%; height:auto; font-family:'Open Sans', sans-serif;font-weight:300;">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<style type="text/css">
.ranking-list table td {
	font-size: 15px !important;
	line-height: 18px;
}
	.ranking-list table td.alineado{
		text-align: left;
	}

.ranking-list table th{
	font-size: 15px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #666;
	background-color: white;
	height: 40px;	
}
.ranking-list table tr, .ranking-list table td{
	width: 33.33%; !important;
	padding: 20px;
}

.ranking-list table tr.item-impar td{
	background-color: #f7f1d8 !important;
}

.ranking-list table td{
	border: 1px solid #ccc !important;
}

.header-logo{
	background-color: #f7f1d8;
	width: 100%;
	text-align: center;
	height: auto;
	padding: 20px 0px;
}

.footer{
	background-color: white;
	color: #555d64;
	width: 100%;
	text-align: center;
	height: auto;
	padding: 30px 0px;
}
	.footer p{
		font-size: 12px;
	}

.title-terminos{
	margin: 12px;
	font-weight:300;
	font-size: 32px;
	color:#3584c9;
}
.blue-text{
	color:#3584c9;
}

p{
	font-size: 15px;
}

li{
	font-size: 15px;
}

</style>
	
	<div class="header-logo">
		<img src="http://www.historiasdefamilias.pe/web/static/media/header-logo.png" alt="" width="114" height="72">
	</div>


	<div style="padding:20px 1%; max-width:1080px; text-align:justify; margin:0 auto;">
	<h1 class="title-terminos" style="text-align:center;">TERMINOS Y CONDICIONES</h1><br>

	<p>Vencedor buscó ocho familias reales del Perú y plasmó sus historias en 8 canciones para que cada una de estas pueda perdurar en el tiempo.</p>

	<p>El sorteo tiene como fecha de inicio el 14 de Setiembre  del 2015 y finaliza el 14 de Octubre del 2015, el sorteo se realizará el 15 de Octubre del 2015.</p>

	<p>La mecánica del sorteo consiste en que las personas interesadas en participar, deberán descargar la aplicación llamada “Historias de Familias” de Vencedor a través de App Store y Play Store.</p>

	<p>Una vez que haya sido descargada la aplicación, deberán registrarse con la anotación de sus nombres, apellidos, dirección de correo electrónico y teléfono.</p>

	<p>Una vez que hayan realizado el registro, el usuario tendrá unas notificaciones a modo tutorial, para que pueda entender la forma de juego y participar sin problemas. Además en las redes sociales de Vencedor habrá un video tutorial.</p>

	<p>Para poder participar en el sorteo el usuario debe contar con la aplicación y registro completado y recolectar, como mínimo, una de las ocho canciones de las familias que estarán repartidas en distintos medios de comunicación como revistas, periódicos y vía pública.</p>

	<p>La primera canción “El Restaurant” de la familia Ludeña Martínez solamente estará disponible en la web y será un bonus que podrá obtener el usuario para que entienda la metodología de lectura de la aplicación de forma práctica y pueda acumular sus primeros puntos para entrar al sorteo. Al escanear esta primera canción el usuario recibirá sus primeros 200 puntos.</p>
	</p>

	<p class="blue-text">Los puntajes que obtendrá por la recolección de cada canción serán:</p> 

	<ul>
		<li>• Canción 1: 200 puntos (Bonus)</li>
		<li>• Canción 2: 300 puntos</li>
		<li>• Canción 3: 400 puntos</li>
		<li>• Canción 4: 500 puntos</li>
		<li>• Canción 5: 600 puntos</li>
		<li>• Canción 6: 700 puntos</li>
		<li>• Canción 7: 800 puntos</li> 
		<li>• Canción 8: 900 puntos</li> 
	</ul><br>

	<p>Una vez que el usuario recolecte la primera canción participará, automáticamente, del sorteo para ganar uno de los 3 viajes familiares a sortear a tres destinos distintos. Mientras más puntos acumule, serán más las opciones que tendrá para ganar el sorteo.</p> 
	<p class="blue-text">El usuario tendrá la posibilidad de acumular puntos extras de la siguiente forma:</p>
	<ul>
	<li>1. Compartir las canciones en redes sociales: 25 puntos por vez compartida.<br> 
	&nbsp;&nbsp;&nbsp;Pueden compartir 8 veces como máximo cada canción.</li>
	<li>2. Compartir aplicación en redes sociales: 50 puntos por vez compartida.<br> 
	&nbsp;&nbsp;&nbsp;Pueden compartir 4 veces como máximo el app.</li>
	</ul><br>

	<p>Cada 200 puntos es una opción más para ganar el sorteo. Es decir, a más puntos, mayores oportunidades de ganar.</p>

	<p>Es indispensable completar una de las ocho canciones para poder participar del sorteo. Cada canción está compuesta por 9 estrofas representadas por 9 casitas de diferentes colores. El usuario debe escanear cada una de ellas en orden, solo así completará cada canción. Si el usuario acumula más puntos por compartir en redes sociales y no ha completado, como mínimo, una de las canciones no podrá participar del sorteo.</p> 

	<p>Los premios por los cuales participarán las personas que entren al sorteo son Viaje para 4 personas a Disney, Punta Cana y Punta Sal, a continuación los datos de los premios.</p>


	<div style="font-size:16px;">
		 <div class="ranking-list">
		 	<table>
		 		<thead>
		 			<tr>
		 				<th>
		 					Nombre del premio
		 				</th>
		 				<th>
		 					Características
		 				</th>
		 				<th>
		 					Cantidad
		 				</th>
		 			</tr>
		 		</thead>
		 		<tbody>
		 			<tr>
		 				<td>
		 					Paquete turístico cuádruple a Disney.
		 				</td>
		 				<td class="alineado">
		 					El paquete turístico cuádruple, contará con los siguientes servicios:<br><br>
				04 boletos aéreos Lima-Miami-Lima.<br>
				01 noche de alojamiento en Miami, para cuatro personas en el Hotel Regency Miami,  en habitación estándar.<br>
				Traslados Aeropuerto-Hotel-Aeropuerto de Miami a Orlando en Servicio Regular y regreso.<br>
				05 días y 04 noches de alojamiento para 4 personas en el Hotel Disney clase económica, en habitación estándar.<br>
				04 días de pases Disney “Magia a tu manera Básico”, a escoger entre los parques Disney´s Hollywood Studios, Magic Kindom, Epcot o Diney´s Animal Kindom.
		 				</td>
		 				<td>
		 					01 <br>(4 personas)

		 				</td>
		 			</tr>
		 			<tr>
		 				<td>
		 					Paquete turístico cuádruple a Punta Cana.
		 				</td>
		 				<td class="alineado">
		 					El paquete turístico cuádruple, contará con los siguientes servicios:<br><br>
				04 boletos aéreos Lima-Punta Cana- Lima.<br>
				Traslados Aeropuerto-Hotel-Aeropuerto, en servicio regular.<br>
				05 días y 04 noches de alojamiento para 4 personas en el Hotel Tropical princess 4*, en habitación cuádruple estándar.<br>
				Sistema de alimentación todo incluido.<br>
				Impuestos hoteleros. 
		 				</td>
		 				<td>
		 					01 <br>(4 personas)
		 				</td>
		 			</tr>
		 			<tr>
		 				<td>
		 					Paquete turístico cuádruple a Punta Sal.
		 				</td>
		 				<td class="alineado">
		 					El paquete turístico cuádruple, contará con los siguientes servicios:<br><br>
				04 boletos aéreos Lima-Tumbes- Lima.<br>
				Traslados Aeropuerto-Hotel-Aeropuerto.<br>
				Traslados del aeropuerto ida y vuelta a Punta Sal.<br>
				04 días y 03 noches de alojamiento para 4 personas en el Hotel Royal Decameron Punta Sal, en habitación Vista al jardín estándar.<br>
				Sistema de alimentación todo incluido.
		 				</td>
		 				<td>
		 					01 <br>(4 personas)
		 				</td>
		 			</tr>		 			 			 				 				 			
		 		</tbody>
		 	</table>
		 </div>
	</div>
	<br>

	<p class="blue-text">Condiciones generales viaje a Disney:</p> 
	<ul>
	<li>• Canje del paquete hasta el 15 de diciembre del 2015.</li>
	<li>• Completar viaje hasta un año finalizado el sorteo.</li>
	<li>• Reservas deben ser solicitadas con un mínimo de 45 días antes del viaje. </li>
	<li>• No válido para viajar: Del 15 de diciembre al 15 de enero. Del 9 de febrero al 16 de febrero. Del 24 de marzo al 31 de marzo.</li>
	<li>• Tarifas no endosables, no reembolsables una vez emitido el paquete.</li>
	<li>• Los servicios incluidos en los programas son en base a servicio regular.</li> 
	<li>• Programa sujeto a disponibilidad.</li>
	<li>• Precio sujeto a variación hasta el momento de confirmar la reserva. </li>
	<li>• Tarifa no se garantiza hasta el momento de su emisión. </li>
	<li>• En caso varíe el precio, la empresa deberá asumir la diferencia antes de la emisión. </li>
	<li>• Tarifa válida para pago en efectivo y aplica tipo de cambio del día. </li>
	<li>• El tipo de habitación sea simple, doble, matrimonial o triple se solicita al momento de hacer la reserva, una vez que llega el pasajero al hotel, se asigna dicha habitación. </li>
	</ul><br>

	<p class="blue-text">Condiciones generales viaje a Punta Cana:</p> 
	<ul>
	<li>• Canje del paquete hasta el 15 de diciembre del 2015.</li>
	<li>• Completar viaje hasta un año finalizado el sorteo</li>
	<li>• Reservas deben ser solicitadas con un mínimo de 45 días antes del viaje.</li> 
	<li>• No válido para viajar: Del 15 de diciembre al 15 de enero. Del 24 de marzo al 31 de marzo.</li>
	<li>• Tarifas no endosables, no reembolsables una vez emitido el paquete.</li>
	<li>• Los servicios incluidos en los programas son en base a servicio regular. </li>
	<li>• Programa sujeto a disponibilidad.</li>
	<li>• Precio sujeto a variación hasta el momento de confirmar la reserva. </li>
	<li>• Tarifa no se garantiza hasta el momento de su emisión. </li>
	<li>• En caso varíe el precio, la empresa deberá asumir la diferencia antes de la emisión.</li> 
	<li>• Tarifa válida para pago en efectivo y aplica tipo de cambio del día. </li>
	<li>• El tipo de habitación sea simple, doble, matrimonial o triple se solicita al momento de hacer la reserva, una vez que llega el pasajero al hotel, se asigna dicha habitación. </li>
	</ul><br>

	<p class="blue-text">Condiciones generales viaje a Punta Sal:</p> 
	<ul>
	<li>• Canje del paquete hasta el 15 de diciembre del 2015.</li>
	<li>• Completar viaje hasta un año finalizado el sorteo.</li>
	<li>• Reservas deben ser solicitadas con un mínimo de 45 días antes del viaje. </li>
	<li>• No válido para viajar: Del 15 de diciembre al 15 de enero. Del 24 de marzo al 31 de marzo.</li>
	<li>• Tarifas no endosables, no reembolsables una vez emitido el paquete.</li>
	<li>• Los servicios incluidos en los programas son en base a servicio regular. </li>
	<li>• Programa sujeto a disponibilidad.</li>
	<li>• Precio sujeto a variación hasta el momento de confirmar la reserva. </li>
	<li>• Tarifa no se garantiza hasta el momento de su emisión. </li>
	<li>• En caso varíe el precio, la empresa deberá asumir la diferencia antes de la emisión. </li>
	<li>• Tarifa válida para pago en efectivo y aplica tipo de cambio del día. </li>
	<li>• El tipo de habitación sea simple, doble, matrimonial o triple se solicita al momento de hacer la reserva, una vez que llega el pasajero al hotel, se asigna dicha habitación. </li>
	<li>• Tiempo de traslado desde el aeropuerto de Tumbes 90 minutos.</li>
	</ul><br>

	<p class="blue-text">Condiciones Generales:</p> 
	<ul>
	<li>• Canje del paquete hasta el 15 de diciembre del 2015.</li>
	<li>• Completar viaje hasta un año finalizado el sorteo.</li>
	<li>• El viaje es máximo para 4 integrantes por familia. Si el ganador decidiera no ir con su familia consanguínea, podrá elegir 3 acompañantes. </li>
	<li>• En caso el ganador del sorteo sea menor de edad, para poder hacer válido el premio deberá presentarse con sus padres o apoderados para reclamarlo, junto con un documento que certifique ese grado de familiaridad.</li> 
	<li>• La empresa no se encargará de los trámites de gestión de las visas para los ganadores, en caso no contaran con ella y fuera necesario. Si los ganadores no obtuvieran la visa o fuera negada por la embajada podrán escoger otro destino de viaje, siempre y cuando, el valor sea igual o menor al premio obtenido.</li> 
	<li>• El sorteo se realizará, mediante una plataforma virtual aleatoria y se escogerá un ganador por viaje. Se realizará en las oficinas de FCB Mayo el día 15 de Octubre del 2015 con la presencia de los representantes necesarios del ministerio y con un notario público. </li>
	<li>• Los ganadores serán contactados mediante correo electrónico y/o llamada telefónica según los datos registrados en la inscripción.</li>
	</ul><br>

	</div>

	<div class="footer">
		<p>Copyright Historias de Familias Vencedor @2015</p>
	</div>
</div>
{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
	$(document).ready(function() {
		 $(".ranking-list tr:odd").addClass('item-impar');
	});
</script>
{% endblock %}
